export(sample_amh_montoril)   	# sampler_amh_montoril.R
export(sample_pg_apf)        	# sampler_pg_apf.R
export(sample_sir_collapsed) 	# sampler_sir_collapsed.R
export(sample_sir_laplace)   	# sampler_sir_laplace.R
export(sample_stan)          	# sampler_stan.R

export(metrics_ess)          	# metrics.R
export(metrics_geweke)       	# metrics.R
export(metrics_loglik)       	# metrics.R
export(metrics_rmse)         	# metrics.R
export(metrics_mae)          	# metrics.R
export(metrics_theta1_ci)     	# metrics.R
